<h1>New question for 
<%= @surveydetail.surveyname %>
</h1>

<%= render 'form' %>
<!--
<h4>How many options you want to have</h4>

<input type="text" name="count"></input><br/>
-->

<input type="button" id="opt" value="Add Options"  onclick=add()>



<span id="fooBar"> 
<div id="survey" background-color: blue>
</div>
</span>	
<%= link_to 'View all question', questions_path %>

